.card {
    display: inline-block;
    width: 300px;
    border: 3px black solid;
    border-radius: 10px;
    

}

@keyframes arda {
    from {
        border-color: rgb(7, 3, 252);
        background-color: rgb(3, 71, 131);
    }
    to {border-color: yellow;}
  }


.card:hover {
    animation-name: arda;
    animation-duration: 2s;
    border: 3px rgb(100, 100, 100) solid;
}

.title {
text-align: center;
font-size: 24px;
margin: 5px;

}

.image {
    height: 200px; 
    width: 300px;
    border-radius: 10px;
}

.aciklama {
text-align: center;
}

.detay {
    display:flex;
    justify-content: center;
    margin-bottom: 10px;

}

.isim {
    text-align: center;
    height: 100px;
    width: 250px;
    display: inline-block;
}
.logo {
    width: 250px;
    height: 150px;
    margin-top: 15px;
}

.kaydetButton {
    display: inline-flex;

}

.kaydetDiv {
    display: inline-flex;
    
}
